/* CSS */

#formstart {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:200%;
	font-weight:bold;
}

h1 {
	font-size: 1.5rem;
	text-align: center;
	padding: .5rem;
}

h2 {
	font-size: 1rem;
	text-align: center;
}

h3 {
	font-size: 1rem;
	padding: .5rem;
	text-align: center;
	color: red;
}

.outline3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:120%;
	font-weight:bold;
}

.outline4 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:120%;
	font-weight:bold;
	text-align: left;
}

.instructions {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:90%;
	font-weight:bold;
}

div#speakerinfo input {	
	margin-left:1.5em;
	text-align:left;
	display:block;
	clear:right;
	background-color:#F4F4F4;
}

div#speakerinfo {
	float:left;	
	width: 100%;
}

div#speakerinfo label {
	float:left;
	width:15em;
	text-align:right;
	display:block;
	padding-right:.3em;	
	background:rgb(255, 255, 255);
	clear:right;
}
	

div#speakerinfo ul li {
	list-style-type:none;
	margin-left:-2em;
	margin-bottom:.4em;
}

select:focus, select:active, input:focus, input:active, input:focus + label, input:active + label, label[for]:focus, label[for]:active {
	color: rgb(0, 0, 0) !important;
	background-color: rgb(106, 255, 198) !important;
}

#speakerinfo input.reqfield {
	background:rgb(133, 171, 228);
}

#speakerinfo li {   
	list-style: none;
}

.submit-button {
	margin:1em 0;
	float:left;
	width:70%;
}

#spkrques {
	clear:left;
	width:100%;
}

#spkrques input, #spkrques span {
	float:left;
	clear:left;
}

#spkrques label {
	padding: .1rem;
	clear:left;
}
